<nav style="background-color: rgba(255, 255, 255, 0.83)" class="navbar navbar-expand-lg navbar-light">
  <a href="#" class="navbar-brand">
    <img src="assets/img/logo.png" width="175" height="60" class="img-responsive">
  </a>
  <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#appNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="appNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">Home
        </a>
      </li>
      <li class="nav-item text-inline dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#"  data-toggle="dropdown">Pages
          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-down fa-w-8 fa-7x"><path fill="currentColor" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z" class=""></path></svg>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="[ '/contact' ]" routerLinkActive="active">
            Contact
          </a>
        </div>
      </li>
      <li class="nav-item text-inline">
        <a class="nav-link" [routerLink]="[ '/about' ]" routerLinkActive="active">About
          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-down fa-w-8 fa-7x"><path fill="currentColor" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z" class=""></path></svg>
        </a>
      </li>
      <li class="nav-item text-inline">
        <a class="nav-link" [routerLink]="[ '/#' ]" routerLinkActive="active">Shop
          <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-down fa-w-8 fa-7x"><path fill="currentColor" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z" class=""></path></svg>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/#' ]" routerLinkActive="active">Elements</a>
      </li>
    </ul>
  </div>
  <button class="ml-5">
    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-7x"><path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z" class=""></path></svg>
  </button>
  <!-- <div class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search keyword..." required [(ngModel)]="searchf">
      <div class="input-group-append">
        <button [disabled]="!searchf" type="submit" class="btn btn-outline-secondary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div> -->
</nav>
