.navbar {
    padding: .5rem 8rem;
}

.input-group{
    margin-left: 8px;
}

@media screen and (max-width: 992px){
    .navbar {
        padding: .5rem 1rem;
    }
    .input {
        margin-left: 0px;
    }
}

:disabled{
    cursor: not-allowed;
}

button{
    border: none;
    background-color: transparent;
    opacity: 0.4;
}

.dropdown-toggle::after{
    display: none;
}