:disabled{
    cursor: not-allowed;
}

input{
    border: 1px solid white;
}

.ng-valid[required], .ng-valid.required{
    border: 1px solid green;
}

input.ng-touched, input.ng-dirty{
    border: 1px solid red;
}

.col-sm-3.ng-invalid{
    border: none;
}

.col-sm-3.ng-valid{
    border: none;
}

div{
    background-color: #eaeaea;
}

.btn{
    background-color: #9fa6ff;
    color: #fff;
    font-size: 12px;
    padding: 21px 52px;
    border-radius: 32px;
    border: none;
    letter-spacing: 1.9px;  
}

p{
    color: #7f8c9b;
    font-size: 18px;
}

.form-control{
    padding: 30px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1.5px;
}