<app-navbar></app-navbar>
<div class="nav">
  <div class="container">
    <div class="row mt-5">
      <div class="col align-self-center text-center">
        <h2>Contact</h2>
        <h4>Talk to us about new work!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et hic dolor enim maiores
          consectetur soluta quis eveniet alias officiis iure similique,</p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-3" [formGroup]="fContact">
        <div class="form-inline">
          <input type="text" placeholder="Full name*" required [formControl]="nInp"
            class="form-control form-control-lg">
          <span *ngIf="nInp.errors?.required && (nInp.dirty || nInp.touched)" class="text-danger">
            Full name is required
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <input type="text" placeholder="Company*" required [formControl]="cInp" class="form-control form-control-lg">
        <span *ngIf="cInp.errors?.required && (cInp.dirty || cInp.touched)" class="text-danger">
          Company is required
        </span>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-3" [formGroup]="fContact">
        <div class="form-inline">
          <input type="email" placeholder="Email*" required [formControl]="eInp" class="form-control form-control-lg">
          <span *ngIf="eInp.errors?.required && (eInp.dirty || eInp.touched)" class="text-danger">
            Email is required
          </span>
          <span *ngIf="eInp.errors?.pattern" class="text-danger">
            Email must have format abc@xyz.xxx
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <input type="tel" placeholder="Telephone*" required [formControl]="pInp" class="form-control form-control-lg">
        <span *ngIf="pInp.errors?.required && (pInp.dirty || pInp.touched)" class="text-danger">
          Phone is required
        </span>
        <ng-container *ngIf="pInp.errors?.pattern; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <span *ngIf="pInp.errors?.minlength" class="text-danger">
            Phone must be numbers, and be longer than 9 digits
          </span>
          <span *ngIf="pInp.errors?.maxlenth" class="text-danger">
            Phone must be numbers, and be shorter than 12 digits
          </span>
        </ng-template>
        <ng-template #elseTemplate>
          <span *ngIf="pInp.errors?.minlength" class="text-danger">
            Phone number lenght must be longer 9 digits
          </span>
          <span *ngIf="pInp.errors?.maxlength" class="text-danger">
            Phone number lenght must be shorter 12 digits
          </span>
        </ng-template>
      </div>
    </div>

    <!-- <button [disabled]="fContact.invalid" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
    <div class="row mt-4">
      <div class="col text-center">
        <button [disabled]="fContact.invalid" type="submit" (click)="cmodal.open(content)"
          class="btn btn-lg btn-primary">Submit us your request!!!</button>
        <app-modal #cmodal></app-modal>
      </div>
    </div>
    <app-footer></app-footer>

  </div>
</div>
