<app-navbar></app-navbar>
<div class="nav">
  <div class="container">
    <div class="row mt-5">
      <div class="col align-self-center text-center">
        <h5 style="color: #5d77f1">CONTACT</h5>
        <h2 style="color: #001650">Talk to us about new<br>work</h2>
        <div class="col-8 offset-2 pt-5">
            <p style="color: #7f8c9b; font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et hic dolor enim maiores
                consectetur soluta quis eveniet alias officiis iure similique,</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-4" [formGroup]="fContact">
        <div class="text-inline">
          <input type="text" placeholder="FULL NAME*" required [formControl]="nInp"
            class="form-control">
          <span *ngIf="nInp.errors?.required && (nInp.dirty || nInp.touched)" class="text-danger">
            Full name is required
          </span>
        </div>
      </div>
      <div class="col-sm-4">
        <input type="text" placeholder="COMPANY*" required [formControl]="cInp" class="form-control">
        <span *ngIf="cInp.errors?.required && (cInp.dirty || cInp.touched)" class="text-danger">
          Company is required
        </span>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm-4" [formGroup]="fContact">
        <div class="text-inline">
          <input type="email" placeholder="EMAIL*" required [formControl]="eInp" class="form-control">
          <span *ngIf="eInp.errors?.required && (eInp.dirty || eInp.touched)" class="text-danger">
            Email is required
          </span>
          <span *ngIf="eInp.errors?.pattern" class="text-danger">
            Email must have format abc@xyz.xxx
          </span>
        </div>
      </div>
      <div class="col-sm-4 mb-5">
        <input type="tel" placeholder="TELEPHONE*" required [formControl]="pInp" class="form-control">
        <span *ngIf="pInp.errors?.required && (pInp.dirty || pInp.touched)" class="text-danger">
          Phone is required
        </span>
        <ng-container *ngIf="pInp.errors?.pattern; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <span class="text-danger">
            Phone must be numbers
          </span>
          <span *ngIf="pInp.errors?.minlength" class="text-danger">
            , and be longer than 9 digits
          </span>
        </ng-template>
        <ng-template #elseTemplate>
          <span *ngIf="pInp.errors?.minlength" class="text-danger">
            Phone number lenght must be longer 9 digits
          </span>
          <span *ngIf="pInp.errors?.maxlength" class="text-danger">
            Phone number lenght must be shorter 12 digits
          </span>
        </ng-template>
      </div>
    </div>

    <!-- <button [disabled]="fContact.invalid" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
    <div class="row mt-4">
      <div class="col text-center">
        <button [disabled]="fContact.invalid" type="submit" (click)="cmodal.open(content)"
          class="btn btn-lg btn-primary mb-5"><b>SUBMIT US YOUR REQUEST</b></button>
        <app-modal #cmodal></app-modal>
      </div>
    </div>
  </div>
</div>
