<ng-template #theModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-success">Success</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><b>&times;</b></span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Your info has sent!!!</h6>
  </div>
  <div class="modal-footer">
    <button ngbAutofocus type="button" id="cancel-edit-btn" class="btn btn-primary" (click)="c('Close click')">Ok</button>
  </div>
</ng-template>
