<app-navbar></app-navbar>
<div class="main">
    <nav style="background-color: #d2d2d2">
        <div class="container pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-9">
                    <h1>Hello, world!</h1>
                    <p> hbhb bb bibi bib ibib i bib ibi i bibiub uib ib iub ib i iub ui biub iu biu biu iuuyv guifvu
                        yvyu ov uyv uyv uy vu yfv yuy uguyv ui viuv u yvuyv uiy vui yvyu vuy vui uyv uvyu vu uuyuv
                        uyvyu
                        yu vuvuv uy u yvuy vuy vuv uv uv uv uy gv ygu g uh ui h iug ui gui h u </p>
                    <button type="button" class="btn btn-primary">Learn more &gt;&gt;</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-3">
                <h4>Heading</h4>
                <p>ajdfb asfa df asd fasf asf ad f wf df sd f asfd sad fdsf asf asf asf adf sd f adfa</p>
                <button type="button" class="btn btn-secondary">View detlails &gt;&gt;</button>
            </div>
            <div class="col-3">
                <h4>Heading</h4>
                <p>ajdfb asfa df asd fasf asf ad f wf df sd f asfd sad fdsf asf asf asf af ad fasfasdf asdf asd fa
                    sdf asdf s f df sd f adfa</p>
                <button type="button" class="btn btn-secondary">View detlails &gt;&gt;</button>
            </div>
            <div class="col-3">
                <h4>Heading</h4>
                <p>ajdfb asfa df asd fasf asf ad f wf df sd f asfdf asf asdf a sf asdff af as fas fadf ds f ds f a
                    fads f as fas f asfa sdf as f asfd asf asd fa s fas sad fdsf asf asf asf adf sd f adfa</p>
                <button type="button" class="btn btn-secondary">View detlails &gt;&gt;</button>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
