<app-navbar></app-navbar>
<div class="main">
  <nav class="img">
    <img src="assets/img/home-background.jpeg" width="100%" class="img-responsive"
      style="margin-top: -200px; position: relative; z-index: -1;">

    <div class="text-center" style="margin-top: -570px;">
      <h5 style="color: #5d77f1">GAME CONSOLE</h5>
      <h1 style="color: #001650">A New Kind of<br>Video Game Console</h1>
      <button class="btnHome mt-5"><b>PURCHASE NOW</b></button>
    </div>
  </nav>
  <nav style="background-color: #e6ecfc; margin-top: 250px" class="pt-5 pb-5">
    <div class="text-inline">
      <div class="row justify-content-center">
          <div class="col-8 offset-1">
                <h3 style="color: #001650">Ready to get started?</h3>
                <h5 class="pt-3" style="color: #7f8c9b;">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</h5>
          </div>
          <div class="col-3 d-flex align-items-center text-inline">
                <button class="btnHome"><b>CONTACT WITH US</b></button>
          </div>
      </div>
      

    </div>
  </nav>
</div>
